h1 {
  color: blue;
}
ul {
  list-style-type: none;
  translate: -30px;
}
footer {
  text-align: center;
}
li::first-letter {
  text-transform: capitalize;
}
.tempUnits {
  font-size: 17px;
  vertical-align: top;
}

#weather-description {
  font-size: 16px;
  font-weight: 600;
  opacity: 60%;
}

#city {
  opacity: 80%;
  font-weight: bolder;
  margin-bottom: 0;
}
#date {
  font-size: 20px;
  font-weight: bolder;
  opacity: 60%;
}
#weather-icon {
  scale: 2;
  display: block;
  margin: auto;
}

#weatherApp {
  display: block;
  margin: auto;
}

#weather-conditions {
  font-weight: 500;
  opacity: 60%;
  font-size: 16px;
}
#temp {
  opacity: 80%;
  font-weight: 500;
  font-size: larger;
}
#temp-units {
  font-weight: 500;
  opacity: 80%;
  color: black;
}
#celcius-link {
  text-decoration: none;
  color: black;
  opacity: 80%;
}
#fahrenheit-link {
  text-decoration: none;
  color: black;
  opacity: 80%;
}
